---
interface Props {
  title: string;
  summary: string;
  education: string;
}

const { title, summary, education } = Astro.props;
---
<div class="about-me">
  <h2>{title}</h2>
  <p>{summary}</p>
  <p>{education}</p>
</div>

<style>
  .about-me {
    background-color: rgb(var(--surface));
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadow-elevation-1);
  }
</style>